<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MSAToolBoxServices.RegService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" listenUriMode="Explicit" />
        <endpoint address="net.tcp://42.121.105.245:5779/" binding="netTcpBinding" name="MSAPort_Registration" bindingName="MSAToolBoxRegister"
          contract="MSAToolBoxServices.IRegService" bindingConfiguration="TcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="http://42.121.105.245:8733/MSAToolBoxRegService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name ="TcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>