<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://112.124.14.194:5780/" behaviorConfiguration="LegacyUpdateBehavior"
        binding="webHttpBinding" bindingConfiguration="HttpBinding"
        contract="LegacyUpdateServices.IUpdateService" name="MSAPort_LegacyUpdate" />
      <endpoint address="http://112.124.14.194:5780/" behaviorConfiguration="LegacyUpdateBehavior"
        binding="webHttpBinding" bindingConfiguration="HttpBinding"
        contract="UpdateServiceReference.IUpdateService" name="MSAPort_LegacyUpdateReference" />
      <endpoint address="net.tcp://42.121.105.245:5779/" binding="netTcpBinding"
        bindingConfiguration="MSAPort_Registration" contract="RegServiceReference.IRegService"
        name="MSAPort_Registration" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="MSAPort_Registration">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="MSAPort_LegacyUpdate" maxReceivedMessageSize="2147483647"
          transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="MSAPort_LegacyUpdateReference" maxReceivedMessageSize="2147483647"
          transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="HttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="10:00:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="4096" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LegacyUpdateBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>